<%= render 'shared/homenavbar' %>

<div class="flex items-center justify-center">



  <div class="w-1/4 h-10px">
    <% if user_signed_in? %>
    <%= link_to open_modal_bios_path, remote: true do %>

    <%= cl_image_tag @bio_pic.photo.key, width: 400, crop: :fill, class: "" %>
    <% end %>
    <%  else %>
    <%= cl_image_tag @bio_pic.photo.key, width: 400, crop: :fill %>
    <% end %>


  </div>

  <% if user_signed_in?  %>

  <%= link_to open_text_bios_path, class: "w-1/4", remote: true do %>
  <div class="w-full bio-text">
    <p class="w-full whitespace-pre-wrap text-justify">

      <%= @bio_pic.body %></p>

  </div>
  <% end %>
  <% end %>

  <% unless user_signed_in? %>

  <div class="w-1/4 bio-text">
    <p><%= @bio_pic.body %></p>

  </div>


  <% end %>

</div>

<% if user_signed_in?  %>

<div class="modal mam fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>

<div class="modal mom fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <% end %>

  <script >
   function readurl(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('.preview')
        .attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
