 <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle"><%= illustration.name %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <% if illustration.photo.attached? %>
      <%= cl_image_tag illustration.photo.key, :width=>375, :crop=>"scale", :class=>"zoomD preview pointer-events-none" %>


      <% else %>
      <%= image_tag "https://picsum.photos/200/300", class: "preview", alt: "alttext" %>

      <% end %>

    </div>
    <%= simple_form_for(illustration) do |f| %>
    <%= f.input :name, label: "nom du tableau"  %>
    <%= f.input :photo, :as => :file, :input_html => {:onchange => "readurl(this)"} %>
    <%= f.button :submit %>
    <button type="button" type="submit" class="btn btn-primary" data-disable-with="Update illustration" data-confirm="Are you sure?" >Save changes</button>
    <% end %>
    <div class="modal-footer">
      <% if illustration.photo.attached? %>
      <%= link_to "Edit", illustration_path, method: :patch, remote: true %>
      <%= link_to "suppr", illustration_path, class: "delete",  method: :delete, remote: true %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" type="submit" class="btn btn-primary" data-confirm="Are you sure?" >Save changes</button>
    </div>
  </div>
</div>
