<div class="w-full px-5 py-4">

  <ul class=" flex justify-between items-center md:hidden">
    <li>
      <%=link_to root_path, class: "hover:no-underline" do %>
      <h2 class="flex_1 text-4xl font-medium" style="font-family: Wakanda;">NAÏF</h2>
      <% end %>
    </li>
    <li>
      <i class="fas fa-ellipsis-h cursor-pointer menuBtn md:hidden" id="perma" data-turbolinks-permanent ></i></li>
  </ul>

  <ul class="hidden md:flex md:justify-between md:items-center">
    <li>
      <%=link_to root_path, class: "active:no-underline active:bg-black" do %>
      <h2 class="flex_1 text-4xl font-medium" style="font-family: Wakanda;">NAÏF</h2>
      <% end %>
    </li>
    <li>
       <%= active_link_to 'Work', root_path, active: :exclusive, class: "ml-5 text-xl hover:no-underline hover:opacity-50" %>
    </li>
    <li>
     <%= active_link_to 'About', bios_path, active: :inclusive, class: "ml-5 text-xl hover:no-underline hover:opacity-50" %>
    </li>
    <li>

      <%= link_to "Contact", new_contact_path, remote: true %>

      <h2 class="ml-5 text-xl hover:opacity-50 active:text-red-800 ">Contact</h2>
    <li>

      <%= active_link_to 'Moodboard', instas_path, active: :inclusive, class: "ml-5 text-xl hover:no-underline hover:opacity-50" %>

    <li>
      <% if user_signed_in? %>
      <%= link_to 'log out', destroy_user_session_path, class: "hover:no-underline", method: :delete  %>
      <% else %>
      <%= link_to "log in", new_user_session_path, class: "ml-5 text-xl hover:opacity-50 hover:no-underline "  %>

      <% end %>

    </li>
  </ul>

  <nav class="mainMenu">
        <ul>
          <li>
            <%= active_link_to 'Work', root_path, active: :exclusive, class: " text-xl hover:no-underline hover:opacity-50" %>
          </li>
          <li>
            <%= active_link_to 'About', bios_path, active: :inclusive, class: " text-xl hover:no-underline hover:opacity-50" %>
          </li>
          <li>
            <a href="#" class="text-xl hover:opacity-50 active:text-red-800">Contact</a>
          </li>
          <li>
            <%= active_link_to 'Moodboard', instas_path, active: :inclusive, class: " text-xl hover:no-underline hover:opacity-50" %>
          </li>
          <li>
            <a href="#" class="suBtn">Sing Up</a>
          </li>
        </ul>
      </nav>

</div>

