<%= render 'shared/homenavbar' %>




<!-- TROISIEME TENTATIVE RESPONSIVE FINAL -->

<div class="md:mx-20 flex-auto"> <!-- CONTAINER -->

  <div class="mx-auto px-2 md:flex md:justify-between md:max-w-full md:h-full" >




    <div class="mb-3 mx-auto flex items-center justify-center relative md:w-32/100 ">

      <div class="h-full z-10  relative">

      <%= link_to paintings_path do %>
         <%= cl_image_tag(@picmenu.first.photo.key, :width=>375, :crop=>"scale", :class=>"h-full card-menu object-cover w-full") %>
      <% end %>
      </div>
      <h2 class="absolute z-0"><%= @picmenu.first.title  %></h2>
      <% if user_signed_in? %>
      <%= link_to 'Add pic', open_modal_page_path(@picmenu.first.id), remote: true %>
      <% end %>
    </div>



    <div class="mb-3 mx-auto flex items-center justify-center relative md:w-32/100 ">
      <div class="h-full z-10">
        <%= link_to illustrations_path do %>
        <img class="h-full card-menu object-cover w-full" src="https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_536/v1584726459/mural_ecrl49.jpg" alt="">
        <% end %>
      </div>

      <h2 class="absolute object-center z-0">Illustrations</h2>

    </div>


    <div class="mb-3 mx-auto flex items-center justify-center relative md:w-32/100 ">
      <img class=" h-full card-menu object-cover w-full " src="https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_472/v1584726476/illu_j2ywr2.jpg" alt="">
    </div>


  </div>
</div>

<!-- MODAL -->
<% if user_signed_in?  %>

<div class="modal mam fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">



</div>
<% end %>
<!-- End of modal -->

<% if user_signed_in? %>

<script>

  $('.modal').on('hidden.bs.modal', function () {
    $(this).find("input").val('').end();

  });
</script>


<script >
 function readurl(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('.preview')
      .attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>


<% end %>
